In [2]:
import pandas as pd
import numpy as np
from urllib.parse import urlparse

In [2]:
data = pd.read_csv("teamdata.csv", encoding='CP949')
data
#전체 약 42만개의 data load

                                  url  label
0       http://diaryofagameaddict.com      0
1             http://espdesign.com.au      0
2           http://iamagameaddict.com      0
3                http://kalantzis.net      0
4        http://slightlyoffcenter.net      0
...                               ...    ...
425986             http://whois.co.kr      1
425987       http://phoenixpark.co.kr      1
425988             http://hunet.co.kr      1
425989             http://bizhard.com      1
425990         http://hiphopplaya.com      1

[425991 rows x 2 columns]

In [3]:
url_data = []
label_data = []

In [4]:

#domain이 동일한 url제거
for idx, url in enumerate(data['url']):
    parsed_url = urlparse(url)
    domain = '{url.netloc}'.format(url=parsed_url)  #domain 주소만 남기고 자르기
    
    if domain in url_data: continue  #동일 domain 있으면 continue    
    
    else: #동일 domain 아니면 저장
        url_data.append(domain)
        label_data.append(data['label'][idx])

In [5]:
url_df = pd.DataFrame(url_data, columns = ['url'])
label_df = pd.DataFrame(label_data, columns = ['label'])
#뽑은 url df과 label df저장

In [6]:
url_df

In [7]:
label_df

In [8]:
result_data = pd.concat([url_df,label_df],axis = 1)

In [9]:
result_data.to_csv("domain_data.csv",mode = 'w')
#유일domain 약 15만개의 data save

In [11]:
#정상 : 피싱 = 7: 3 비율의 약 15000개 domain data load
result_data = pd.read_csv("domain_data(15000).csv", encoding='CP949')
result_data

                                      url label
0                               naver.com     1
1                            kr.yahoo.com     1
2                                nate.com     1
3                               paran.com     1
4                             cyworld.com     1
...                                   ...   ...
2994  christinariccidesnudaryl.tumblr.com     1
2995      christinariccinude.blogspot.com     1
2996               christinariccinude.net     1
2997       christinariccinude.typepad.com     1
2998   christinariccipussy988.typepad.com     1

[2999 rows x 2 columns]

In [13]:
result_url = []
result_label = []

In [ ]:
for idx, url in enumerate(result_data['url']):
    for full_url in data['url']:
        parsed_url = urlparse(full_url)
        domain = '{url.netloc}'.format(url=parsed_url)  #domain 주소만 남기고 자르기
        
        if url == domain :                              #full url 저장을 위해 domain저장한 것을 찾으면 저장
            result_url.append(full_url) 
            result_label.append(result_data['label'][idx])
            break

In [ ]:
result_url_df = pd.DataFrame(result_url, columns = ['url'])
result_label_df = pd.DataFrame(result_label, columns = ['label'])

In [ ]:
result_url_df

In [ ]:
result_label_df

In [ ]:
result_data2 = pd.concat([url_df,label_df],axis = 1)
result_data2

In [ ]:
result_data2.to_csv("lastdata.csv",mode = 'w')
#최종 full url data 저장

In [3]:
#lastdata + 약 800개의 full url data 추가  
url_dataset = pd.read_csv("url_dataset.csv", encoding='CP949')
url_dataset # 정상 10816개, 피싱 4971개의 최종 15788 data set

                                   url  label
0                     http://naver.com    1.0
1                  http://kr.yahoo.com    1.0
2                      http://nate.com    1.0
3                     http://paran.com    1.0
4                   http://cyworld.com    1.0
...                                ...    ...
15783       http://newhavenballet.org/    1.0
15784     http://newhavenbulletin.com/    1.0
15785           http://newhavenin.org/    1.0
15786  http://newhavenindependent.org/    1.0
15787      http://newhavenindiana.com/    1.0

[15788 rows x 2 columns]